{% extends 'website/base.html' %}
{% load static %}

{% block search %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Booking Servece</h1>
            <span class="color-text-a"></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->


 <!--/ Contact Star /-->
 <section class="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-map box">
            <div id="map" class="contact-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d464016.37739120214!2d47.058768930043726!3d24.688128018016663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2z2KfZhNix2YrYp9i2!5e0!3m2!1sar!2ssa!4v1677178697358!5m2!1sar!2ssa" 
                width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        {% if messages %}
{% for i in messages %}
<div class="alert alert-success" role="alert">
     {{ i }}
   </div>
     
{% endfor %}
{% endif %}

<!-- jsw -->
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}


  <div class="mt-3">
    <label class="form-label">Note</label>
    <textarea  class="form-control" name="Note"></textarea>
  </div>


  
    <div class="mt-3">
      <label class="form-label">booking_date</label>
      <input  type="date" class="form-control" name="booking_date"  />
    </div>

    

    <br/>
    <button type="submit" class="btn btn-a">Book now</button>
    

  

</form>


<!-- hsdvgswvg -->
        <div class="col-sm-12 section-t8">
          <div class="row">
            <div class="col-md-7">
              <form  action="" method="POST" class="form-a contactForm" enctype="multipart/form-data">
               
                
              </form>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="icon-box section-b2">
                <div class="icon-box-icon">
                  <span class="ion-ios-paper-plane"></span>
                </div>
                <div class="icon-box-content table-cell">
                  <div class="icon-box-title">
                    <h4 class="icon-title">Say Hello</h4>
                  </div>
                  <div class="icon-box-content">
                    <p class="mb-1">Email.
                      <span class="color-a">contact@example.com</span>
                    </p>
                    <p class="mb-1">Phone.
                      <span class="color-a">+54 356 945234</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->

{% endblock %}