{% extends 'website/base.html' %}
{% load static %}
{% block content %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{assigend_caravan.name}}</h1>
            <span class="color-text-a"></span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'website:home-page' %}">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'website:all-caravans' %}">caravans</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{assigend_caravan.name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Property Single Star /-->
  <section class="property-single nav-arrow-b">
    <div class="container">
      <div class="row">

    <div class="col-md-6">
      <div class="property-price d-flex justify-content-center foo">
        <div class="card-header-c d-flex">
          <div class="card-box-ico">
            <span class="ion-money">{{assigend_caravan.price}}</span>
          </div>
          <div class="card-title-c align-self-center">
            <h5 class="title-c">SAR</h5>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">caravan owner : {{assigend_caravan.owner.username}}</strong>
          <h3 class="mb-0">carvan name : {{assigend_caravan.name}}</h3>
          <div class="mb-1 text-muted">capacity : {{assigend_caravan.capacity}}  <i class="bi bi-people-fill"></i></div>
          <p class="mb-auto">detailes : {{assigend_caravan.description}}</p>
          <a href="{% url 'website:booking' assigend_caravan.id %}" class="stretched-link">Book Now</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{assigend_caravan.feature_image.url}}" class="bd-placeholder-img" width="200" height="250" xmlns="" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
        </div>
      </div>
    </div>
  
        <div class="col-sm-12">
         
          <div class="row justify-content-between">
            <div class="col-md-5 col-lg-4">
             
              <div class="property-summary">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d section-t4">
                      
                    </div>
                  </div>
                </div>
                <div class="summary-list">
                  <ul class="list">
                    <li class="d-flex justify-content-between">
                      
                     
                    </li>
                    <li class="d-flex justify-content-between">
                      
                    </li>
                    <li class="d-flex justify-content-between">
                      
                    </li>
                    <li class="d-flex justify-content-between">
                      
                    </li>
                    <li class="d-flex justify-content-between">
                     
                    </li>
                    <li class="d-flex justify-content-between">
                     
                    </li>
                    <li class="d-flex justify-content-between">
                     
                    </li>
                    <li class="d-flex justify-content-between">
                      
                    </li>
                  </ul>
                </div>
              </div>
            </div>
           
              <div class="col-md-12">
               
                {% if request.user.is_staff %}
                <a href="{% url 'website:update' assigend_caravan.id %}"><button type="submit" class="btn btn-a">edit</button></a>
                <a href="{% url 'website:delete' assigend_caravan.id %}"><button type="submit" class="btn btn-a">delete</button></a>
                <a href="{% url 'website:adminManageBook' assigend_caravan.id %}"><button type="submit" class="btn btn-a">Manage Book</button></a>
                {% endif %}
              </div>
              
            </div>
            
          </div>
        </div>
       
        <div class="col-md-12">
          <div class="row section-t3">
            <div class="col-sm-12">
              <div class="title-box-d">
                <h3 class="title-d">OR Contact With owner  ..</h3>
                {% if messages %}
                {% for i in messages %}
                   <div class="alert alert-success" role="alert">
                        {{i}}
                         </div>
     
                      {% endfor %}
                      {% endif %}

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
              
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="property-agent">
                
                <p class="color-text-a">
                 
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between">
                    
                  </li>
                  <li class="d-flex justify-content-between">
                    
                  </li>
                  <li class="d-flex justify-content-between">
                  
                  </li>
                  <li class="d-flex justify-content-between">
                    
                  </li>
                </ul>
             
                <div class="socials-a">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                     
                    </li>
                    <li class="list-inline-item">
                    
                    </li>
                    <li class="list-inline-item">
                     
                    </li>
                    <li class="list-inline-item">
                     
                    </li>
                    <li class="list-inline-item">
                     
                    </li>
                  </ul>
                </div>
              </div>
            </div>
           
           
            <div class="col-md-12 col-lg-4">
              <div class="property-contact">
                <form action="" method="POST" class="form-a">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                       
                      </div>
                    </div>
                    <div class="col-md-12 mb-1">
                      <div class="form-group">
                        <textarea name="content" id="textMessage" class="form-control" placeholder="Your message directily to owner" cols="45"
                          rows="8" required></textarea>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-a">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Property Single End /-->
  {% endblock %}
