{% extends 'website/base.html' %}
{% load static %}

{% block content %}



  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'website/img/pexels-nataliya-vaitkevich-5712715.jpg' %} )">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                   
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Rent  </span> now
                      
                    <p class="intro-subtitle intro-price">
                      <a href="{% url 'website:all-caravans' %}"><span class="price-a">rent | Now</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'website/img/pexels-kampus-production-7476890.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    
                    <h1 class="intro-title mb-4">
                      <span class="color-b">add & invest </span> your
                      <br> caravan now</h1>
                     
                    <p class="intro-subtitle intro-price">
                      <a href="{% url 'website:addcaravanuser' %}"><span class="price-a">add | Now</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url({% static 'website/img/pexels-matheus-bertelli-7163673.jpg' %})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top"></p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">see </span> all
                      <br> Caravan</h1>
                    <p class="intro-subtitle intro-price">
                      <a href="{% url 'website:all-caravans' %}"><span class="price-a">see | Now</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  
  

  <!--/ Services Star /-->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Rent Services <i class="bi bi-bookmark-plus"></i> </h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                
              </p>
            </div>
            <div class="card-footer-c">
              
                <span class="ion-ios-arrow-forward"></span>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
             
              <div class="card-title-c align-self-center">
                <h2 class="title-c">investment  <i class="bi bi-coin"></i> </h2>
                
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
               
              </p>
            </div>
            <div class="card-footer-c">
              
                <span class="ion-ios-arrow-forward"></span>
              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              
              <div class="card-title-c align-self-center">
                <h3 class="title-c"> Marketplace<i class="bi bi-shop"></i></h3>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                
              </p>
            </div>
            <div class="card-footer-c">
             
                <span class="ion-ios-arrow-forward"></span>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

 
  {% endblock %}