{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
all book for Caravan: {{assigend_caravan.name}} <h1></h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">note</th>
      <th scope="col">booking_date</th>
      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
    {% for i in all_users_booking %}
    <tr>
      <th scope="row">{{ i.bookinUser.username }}</th>
      <td>{{ i.note }}</td>
      <td>{{ i.booking_date }}</td>
      
      <td><a href="#"><button type="button" class="btn btn-info">manage</button></a></td>
        
    </tr>
    {% endfor %}
   
   
  </tbody>
</table>


<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}