{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% if messages %}
{% for i in messages %}
<div class="alert alert-success" role="alert">
     {{ i }}
   </div>
     
{% endfor %}
{% endif %}
Show Book <h1>this Book for : {{bookinUser}}</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Caravan Name</th>
      <th scope="col">Note</th>
      <th scope="col">StartDate</th>
    </tr>
  </thead>
  <tbody>
    {% for i in show_booked %}
    <tr>
      <th scope="row">Booked</th>
      <td> {{ i.caravan.name }} </td>
      <td>{{ i.note }}</td>
      {% if i.booking_date < now %}
      <td><span class="badge badge-danger">{{i.booking_date}}</span></td>
      {% else %}
      <td><span class="badge badge-success">{{i.booking_date}}</span></td>
      {% endif %}
      

    </tr>
    {% endfor %}
   
   
  </tbody>
</table>

{% endblock %}