{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div  class="container">
  <br>
<br>
<br>
<br>
<br>


Show booking in your caravan <h1>this caravan owned  : {{request.user.username}}</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">bookin User</th>
      <th scope="col">bookin User email</th>
      <th scope="col">caravan Name</th>
      <th scope="col">note</th>
      <th scope="col">booking_status</th>
      <th scope="col">booking_date</th>
      
    </tr>
  </thead>
  <tbody>
    {% for i in is_booked %}
    <tr>
      <th scope="row">#</th>
      <td> {{ i.bookinUser.username }} </td>
      <td> {{ i.bookinUser.email }} </td>
      <td>{{ i.caravan.name }}</td>
      <td>{{ i.note }}</td>
     
     
     
      
      <td>
        
        
        {% if i.booking_date < now %}
        <span class="badge badge-danger">Booked|End</span>
        {% else %}
        <span class="badge badge-success">in progress</span>
      </td>
      {% endif %}
      <td>{{ i.booking_date }}</td>
    </tr>
   
    {% endfor %}
  
   
  </tbody>
</table>
</div>



{% endblock %}